name: Mobile CI/CD Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        platform: [ios, android]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Build for ${{ matrix.platform }}
        run: |
          if [ "${{ matrix.platform }}" == "ios" ]; then
            npx expo build:ios;
          else
            npx expo build:android;
          fi

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${\{ matrix.platform }}-build
          path: ./build/${{ matrix.platform }}
